
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  font-family: "Fira Sans", sans-serif ;
}
.app-container{
  background-color: white;
  
}
.app-header{
  padding: 40px 40px;
  display: flex;
  justify-content: space-between;
  
}
.app-btn-create{
  border: 0;
  background-color: rgb(85, 90, 136);
  padding: 5px 10px;
  color: white;
  transition-property: transform;
  transition-duration: 600ms;
}
.app-btn-create:hover{
  transform: scale(1.2);
}
.app-cards{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  
}